// main: app.less

@font-face {
  font-family: 'AG Book Pro Medium';
  src: url('../fonts/Berthold-AGBookPro-Medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Berthold-AGBookPro-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Berthold-AGBookPro-Medium.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Berthold-AGBookPro-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Berthold-AGBookPro-Medium.svg#5107612be4c7e0f969296710dfba5067') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'AG Book Pro Regular';
  src: url('../fonts/Berthold-AGBookPro-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Berthold-AGBookPro-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Berthold-AGBookPro-Regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Berthold-AGBookPro-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Berthold-AGBookPro-Regular.svg#45c16b57459bec62cff2b3833945fac7') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}